/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   color: rgb(50, 92, 126);
 }

body {
  margin: 2em;
  display: grid;
}

span.title {
  text-decoration-color: gold;
}

a {
  text-decoration: none;
}

a:* {
  color: inherit;
}

h3 {
  font-size: 1.2em;
  /* align-text: flex-end; */
}

nav {
  padding-bottom: 1em;
}


ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.teal-font {
  font-size: 1.2em;
}

.big-grid {
  display: grid;
  justify-content;
  margin: 5em;
}



.book-name {
  font-weight: 500;
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}

.book-name + ul {
  margin-left: 2em;
}
